<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  />

    </head>
    <body class="grey lighen-3">
        
        <h1 class="main-title center">Bem-vindo ao Sistema Escolalura</h1>
        
        
        <div class="row center">
            <!-- INÍCIO - Card de cadastrar alunos -->
            <div class="col s12 m4 l4 waves-effect waves-light">
                <a href="/aluno/cadastrar">
                    <div class="card-panel hoverable z-depth-1 center gray lighten-4">
                        <i class="large material-icons">perm_identity</i>
                        <div class="truncate">Cadastrar Alunos</div>
                    </div>
                </a>
            </div>
             <!-- FIM - Card de cadastrar alunos -->
             
            <!-- INÍCIO - Card de listar alunos -->
            <div class="col s12 m4 l4 waves-effect waves-light">
                <a href="/aluno/listar">
                    <div class="card-panel hoverable z-depth-1 center grey lighten-4">
                        <i class="large material-icons">search</i>
                        <div class="truncate">Pesquisar</div>
                    </div>
                </a>
            </div>
            <!-- FIM - Card de listar alunos -->
            
            <!-- INÍCIO - card de pesquisar por nome -->
            <div class="col s12 m4 l4 waves-effect waves-light">
                <a href="/aluno/pesquisarnome">
                    <div class="card-panel hoverable z-depth-1 center grey lighten-4">
                        <i class="large material-icons">search</i>
                        <div class="truncate">Pesquisar por nome</div>
                    </div>
                </a>
            </div>
            <!-- FIM - card de pesquisar por nome -->
        </div>
       
        <div class="row center">
            <!-- INÍCIO - card de pesquisar por nota -->
            <div class="col s12 m4 l4 waves-effect waves-light">
                <a href="/nota/iniciarpesquisa">
                    <div class="card-panel hoverable z-depth-1 center grey lighten-4">
                        <i class="large material-icons">search</i>
                        <div class="truncate">Pesquisar por Nota</div>
                    </div>
                </a>    
            </div>
            <!-- FIM - card de pesquisar por nota -->
        </div>
        
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    </body>
</html>
